.chat-container{
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
  box-sizing: border-box;
}

.chat-form{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
}

.input-message{
  flex-grow: 1;
}

.list{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message{
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message-text{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time{
  color: #000; 
  font-size: 12px; 
  position: absolute; 
  bottom: 10px; 
  right: 15px; 
}
