.footer {
    background-color: #fff;
    color: #333;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-text{
    margin: 0;
    font-size: 20px;
}

.social-links a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    transition: 0.3s;
}

.social-links a:hover {
    color: red;
    transition: 0.3s;
}