.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.not-found{
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-frame {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
}

.not-found-title {
  margin: 0;
  font-size: 130px;
  color: #333;
}

.not-found-link {
  font-size: 1.2em;
}

.not-found-link a {
  text-transform: uppercase;
  display: inline;
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 11px 50px;
  transition: 0.3s;
}

.not-found-link a:hover {
  color: black;
  letter-spacing: 5px;
  transition: 0.3s;
}

.projects-body{
  min-height: 80vh;
}

.projects-cards{
  margin: 30px 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.projects-card{
  position: relative;
  width: 350px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  color: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.projects-card:hover{
  transform: scale(1.05);
  color: red;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.projects-icon{
  font-size: 100px;
}

.projects-card span{
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 30px;
}

.breadcrumb{
  margin: 15px 0 0;
  padding: 0;
  list-style-type: none; 
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  gap: 20px;
}

.breadcrumb-slash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transform: skew(-25deg);
  box-shadow: 1px 0px 10px 5px rgb(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: -2;
  
}

.breadcrumb-slash:first-child::before{
  border-radius: 5px 0 0 5px;
  z-index: -1;
}

.breadcrumb-slash:last-child::before{
  border-radius: 0 5px 5px 0;
  z-index: -3;
}
  
.breadcrumb-slash{
  display: inline-block;
  position: relative;
  padding: 0 20px;
}

.breadcrumb-slash a{
  font-weight: 400;
}

.breadcrumb-slash span{
  font-weight: 600;
}

.breadcrumb-link{
  color: #333;
  transition: 0.3s;
}

.breadcrumb-link:hover{
  color: red;
  transition: 0.3s;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.05);
  margin: 5px 0;
  border-radius: 4px ;
}
